@import "tailwindcss";

body {
  background: radial-gradient(
    circle at top left,
    #1c1b29,
    #0b0b12 65%
  );
  color: #e5e7eb;
}

html {
  scroll-behavior: smooth;
}

/* index.css */
.card-hover:hover {
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
}

